.nfl__container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.football__wrap {
    height: 130px;
    min-width: 365px;
    background: #ffffffc4;
    display: inline-block;
    margin: 15px;
    color: #000000;
    font-family: 'Rubik';
}

.football__wrap img {
    height: 45px;
    width: 45px;
    object-fit: contain;
    margin-right: 5px;
}

.week {
    height: 20px;
    width: 100%;
    background: #000000;
    padding: 0px 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.nfl__road, .nfl__home {
    width: 100%;
    height: 55px;
    display: flex;
    padding: 5px;
}

.road__logo, .home__logo {
    display: flex;
    align-items: center;
}

.road__name, .home__name {
    display: flex;
    align-items: center;
    height: 45px;
    width: 195px;
}

.road__score, .home__score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    margin-left: 5px;
}

.venue__data {
    height: 20px;
    background: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    font-size: 14px;
}

.gametime {
    height: 45px;
    width: 55px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 5px;
    font-size: 12px;
}

.period {
    height: 15px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 13px;
}
