.body__container {
    display: inline-block;
    align-items: center;
    justify-content: center;
    top: 50%;
    height: auto;
    width: 100vw;
    background: url('../Media/Images/threesportsmen.svg');
    background-position: bottom;
}

