.intro__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.39) 0%, rgb(24, 20, 20) 100%), url('../Media/Images/chanan_greenblatt_yankeestadium.jpg');
    background-size: cover;
}

.heading {
    text-transform: uppercase;
    font-size: 30px;
    color: #ffffff;
}

.asterisk {
    color: #fa8072;
}

