.footer {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    background: #000000;
    position: static;
    bottom: 0px;
    font-family: "Rubik";
    font-size: 12px;
}

