.footer {
    height: 40px;
    width: 100%;
    display: block;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    background: #000000;
    position: static;
    bottom: 0px;
    font-family: "Open Sans";
    font-size: 12px;
}

.fa-react {
    margin-left: 7px;
    font-size: 15px;
    color: #00d8ff;
}