* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: -moz-scrollbars-none;
    font-synthesis: none;
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@font-face {
    font-family: "Akkurat-Bold";
    src: url("./fonts/Akkurat-Bold.woff");
}

@font-face {
    font-family: "Gotham Black";
    src: url("./fonts/Gotham\ Black\ Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    font-family: "Akkurat-Bold";
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 654px) {
    .button__paypal {
        display: none;
    }

    .title__main {
        font-size: 23px;
    }

    .title__sub {
        font-size: 18px;
    }
}